@tailwind base;
@tailwind components;
@tailwind utilities;

.pb-30 {
    padding-bottom: 7.5rem;
}

body {
    @apply h-full bg-slate-700 text-white overflow-auto;
}

#__nuxt {
    @apply flex flex-col;
}

#__nuxt main {
    @apply h-full flex-1 pb-16;
}

.nuxt-icon svg {
    margin-bottom: 0 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}