<script setup></script>

<template>
	<header class="mx-auto max-w-screen-md w-full flex items-center bg-slate-700 p-2 border-b border-slate-600">
		<nuxt-link to="/" class="text-lg">PySocial</nuxt-link>
	</header>
	<!-- v0.1 -->
</template>

<style scoped></style>
