<script setup></script>

<template>
	<nav
		class="h-16 fixed bottom-0 left-0 right-0 mx-auto max-w-screen-md w-full flex items-center justify-around bg-slate-700 py-2 border-t border-slate-600"
	>
		<nuxt-link to="/"><nuxt-icon name="navbar/home" /></nuxt-link>
		<nuxt-link to="/"><nuxt-icon name="navbar/search" /></nuxt-link>
		<nuxt-link to="/create"><nuxt-icon name="navbar/create" /></nuxt-link>
		<nuxt-link to="/"><nuxt-icon name="navbar/bell" /></nuxt-link>
		<nuxt-link to="/account"><NuxtImg src="/images/userplaceholder.jpg" class="w-7 h-7 bg-white rounded-full" /></nuxt-link>
	</nav>
	<!-- v0.1 -->
</template>

<style scoped>
a {
	@apply p-2 text-3xl text-white;
}
</style>
