<script setup>
const config = useRuntimeConfig();
const authStore = useAuthStore();

const currentUserId = authStore.user.id;

const props = defineProps(["post"]);

const likes = ref(props.post.likes.length);
const likesText = computed(() => `${likes.value} like${likes.value === 1 ? "" : "s"}`);

const comments = props.post.comments.length;
const commentsText = (comments > 0 ? `View ${comments} comment${comments === 1 ? "" : "s"}` : "Comment on this post") + "...";

const date = Intl.DateTimeFormat("en-US", {
	dateStyle: "long",
}).format(new Date(props.post.created_at));

const mediaLink = config.public.CLOUDFRONT_URL + props.post.media;

// Liked
let userLikedPost = ref(props.post.likes.find((like) => like.user_id == currentUserId) ? true : false);

const likePost = async () => {
	if (!authStore.token) return navigateTo("/login");

	updateLikes();

	await fetch(`${config.public.API_URL}/posts/${props.post.id}/like`, {
		method: "POST",
		headers: {
			Authorization: `Bearer ${authStore.token}`,
		},
	})
		.then((response) => response.json())
		.then((data) => {
			if (!data.success) {
				updateLikes();
			}
		})
		.catch(console.error);
};

const updateLikes = () => {
	userLikedPost.value = !userLikedPost.value;
	userLikedPost.value ? likes.value++ : likes.value--;
};
</script>

<template>
	<div class="flex flex-col">
		<div class="flex p-2">
			<div class="flex items-center gap-2">
				<NuxtImg
					:src="post.user.avatar ?? '/images/userplaceholder.jpg'"
					:alt="post.user.username"
					class="w-7 h-7 bg-white rounded-full border border-black"
				/>
				<h3 class="font-medium">{{ post.user.username }}</h3>
			</div>
		</div>
		<NuxtImg :src="post.media ? mediaLink : '/images/postplaceholder.jpg'" :alt="post.caption" class="w-full object-contain" />
		<div class="flex items-center justify-between p-2">
			<div class="flex items-center gap-2">
				<button class="text-2xl" @click="likePost">
					<nuxt-icon :name="userLikedPost ? 'post/like' : 'post/like-outline'" />
				</button>
				<button class="text-2xl">
					<nuxt-icon name="post/comment" />
				</button>
			</div>
			<button class="text-2xl">
				<nuxt-icon name="post/bookmark-outline" />
			</button>
		</div>
		<div class="flex px-2 pb-4">
			<div class="flex flex-col">
				<p class="font-medium">{{ likesText }}</p>
				<p>
					<nuxt-link to="/" class="font-medium">{{ post.user.username }}</nuxt-link>
					<span class="ml-1">{{ post.caption }}</span>
				</p>
				<p class="text-slate-400">{{ commentsText }}</p>
				<p class="text-slate-400">{{ date }}</p>
			</div>
		</div>
	</div>
</template>

<style scoped></style>
