<script setup>
const config = useRuntimeConfig();

const props = defineProps(["post"]);

const mediaLink = config.public.CLOUDFRONT_URL + props.post.media;
</script>

<template>
	<NuxtImg :src="post.media ? mediaLink : '/images/postplaceholder.jpg'" :alt="post.caption" class="w-full object-cover" />
</template>

<style scoped></style>
