<script setup>
const config = useRuntimeConfig();
const authStore = useAuthStore();

const currentUserId = authStore.user.id;

const data = {
	user: currentUserId,
};

const searchParams = new URLSearchParams(data);

const { data: user } = await useAsyncData(`user-${currentUserId}`, () => $fetch(`${config.public.API_URL}/users/${currentUserId}`));
const { data: posts } = await useAsyncData(`posts-${currentUserId}`, () => $fetch(`${config.public.API_URL}/posts?${searchParams}`));

const avatar = user.avatar ?? "/images/userplaceholder.jpg";
</script>

<template>
	<Head>
		<title>{{ user.username }}</title>
	</Head>

	<div class="p-2 flex gap-4">
		<NuxtImg :src="avatar" class="w-16 h-16 rounded-full" />

		<div class="flex flex-1 flex-col gap-2">
			<h1>{{ user.username }}</h1>

			<button class="bg-slate-500 px-4 py-1 w-full rounded-md hover:bg-slate-600">Edit profile</button>
		</div>
	</div>
	<div class="flex p-2">
		<h2 class="text-xl">Posts ({{ posts.length }})</h2>
	</div>
	<div class="grid grid-cols-3 gap-1" v-if="posts.length">
		<PostThumbnail class="flex-1" v-for="post in posts" :key="post.id" :post="post" />
	</div>
	<div class="p-2" v-else>No posts yet!</div>
</template>
