<script setup>
const config = useRuntimeConfig();
const { data: posts } = await useAsyncData("posts", () => $fetch(`${config.public.API_URL}/posts`));
</script>

<template>
	<Head>
		<title>PySocial</title>
	</Head>

	<Post v-for="post in posts" :key="post.id" :post="post" />
</template>
