<script setup>
definePageMeta({
	layout: "auth",
});

const config = useRuntimeConfig();
const authStore = useAuthStore();

const error = ref("");
const data = ref({
	username: "",
	password: "",
});

const login = async () => {
	await fetch(`${config.public.API_URL}/login`, {
		method: "POST",
		body: JSON.stringify(data.value),
		headers: {
			"Content-Type": "application/json",
		},
	})
		.then((response) => response.json())
		.then((response) => {
			if (response.success) {
				error.value = "";

				authStore.login(response.token, response.user);
				navigateTo("/");
			} else {
				error.value = response.msg;
			}
		})
		.catch(console.error);
};
</script>

<template>
	<Head>
		<title>PySocial - Login</title>
	</Head>

	<form class="p-2 flex flex-col gap-4" @submit.prevent="login">
		<h1 :class="['text-6xl text-center p-24 pb-20 select-none', error ? 'pb-20' : 'pb-30']">PySocial</h1>
		<p v-if="error" class="text-lg text-red-600">{{ error }}</p>
		<div class="flex flex-col">
			<label for="username" class="text-lg">Username</label>
			<input
				v-model="data.username"
				autofocus
				type="text"
				id="username"
				placeholder="Username"
				class="bg-transparent px-2 py-1 border-b border-slate-600 outline-none"
			/>
		</div>
		<div class="flex flex-col">
			<label for="password" class="text-lg">Password</label>
			<input
				v-model="data.password"
				type="password"
				id="password"
				placeholder="Password"
				class="bg-transparent px-2 py-1 border-b border-slate-600 outline-none"
			/>
		</div>

		<button class="uppercase px-4 py-1 rounded font-medium transition-all bg-slate-800 hover:bg-slate-900 outline-none">Log in</button>
	</form>
</template>
